@font-face {
  font-family: 'Bernoru Expanded';
  src: url('/fonts/bernoru.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alfa Slab One';
  src: url('/fonts/alfaslab.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
