@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-blueprint {
    background-color: #1161a9;

    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1) 0.5px,
        transparent 0.5px
      ),
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0.5px,
        transparent 0.5px
      ),
      linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1) 1.5px,
        transparent 1.5px
      ),
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 1.5px,
        transparent 1.5px
      );

    background-size: 20px 20px, 20px 20px, 100px 100px, 100px 100px;

    background-position: 10px 10px, 10px 10px, 50px 50px, 50px 50px;
  }
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Alfa Slab One', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
}

html,
body,
#root {
  height: 100%;
}
